extends layout

block content 
    doctype html
    head
        title Login
    body
        h1 Please Log in
        form#login(action="login", method = "post")
            div#username 
                label(for="username") Username: 
                input(type="text", name="username")
            div 
                label(for="password") Password:
                input(type="password", name="password")
            div
                br
                button(type="submit") Log in
    
