extends layout


block content 
    doctype html
    head
      title Login Failed!
    body
        h1.notify Login Failed!
        div
            img(src='/images/xmark.jpg')
        section
          a(href='login') Try Again