extends layout


block content 
    doctype html
    head
        title Update Confirmation
        h1.notify Contact Information Successfully Updated!
    body
        div 
            img(src='/images/checkmark.jpg')
        section
            a(href='mailer') Create a New Contact
        section
            a(href='contacts') View All Contacts