extends layout


block content 
    doctype html
    head
        title Thank You!
        h1.notify Contact Information was Submitted!
    body
        div 
            img(src='/images/checkmark.jpg')
        section
            a(href='contacts') View All Contacts